---
layout: default
---

<hgroup class='title'>
    <h1>playbook</h1>
    <p><a href='/'>{{ page.title }}&nbsp;<span>&times;</span></a></p>
</hgroup>
<section class='body single'>
    {% if page.Schedule.size > 0 %}<ul class='parent list'>
    {% for item in page.Schedule %}<li>
    <p>{{ item.Parent }}</p>
    {% if item.Children.size > 0 %}<ul class='child list'>
    {% for child in item.Children %}<li>{{ child }}</li>{% endfor %}
    </ul>{% endif %}
    </li>{% endfor %}
    </ul>{% endif %}
</section>
